# Visual Studio Code # 
.vscode/
.vscode/* 
!.vscode/settings.json 

# Django #
*.log
*.pot
*.pyc
__pycache__
*.sqlite3
media

# Backup files # 
*.bak

# pyenv #
.python-version

# Environments #
venv/
.venv
venv.bak/ 
.env